#app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  height: calc(100vh - 80px);
  margin: auto;
  padding: 40px 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

table {
  border-color: gray;
  border-spacing: 0;
  border-collapse: collapse;
}

.vitals-table {
  width: 100%;
  th {
    width: 1px;
    white-space: nowrap;
    color: #737373;
    font-size: 0.875rem;
    text-align: right;
    border-width: 1px 0;
    border-style: solid;
    border-color: #f0f0f0;
    padding: 4px 10px;
  }
  td {
    border-width: 1px 0;
    border-style: solid;
    border-color: #f0f0f0;
    padding: 4px 10px;
  }
}
